@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    @model FormSubmission.Models.Adhaar;
    @using (Html.BeginForm("DisplayData", "Home", FormMethod.Post))
    {
        @Html.Label("Name:")<br/>
        @Html.TextBoxFor(m=>m.Name);<br /><br />
        @Html.Label("Adhaar Number:")<br/>
        @Html.TextBoxFor(m=>m.AdhaarNo);<br />
        <div class="text-left">
            <br>
            <input type="submit" value="Save">
        </div>
    }
</div>

